
@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>
<mensagem texto="@TempData["msg"]"></mensagem>
<form asp-action="cadastrar">
    <partial name="_Form" />
    <input type="submit" value="Cadastrar" class="btn btn-primary"/> 
</form>