@model Filme

@{ 
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<form asp-action="editar">
    <input asp-for = "Codigo" />
    <partial name="_Form" />
    <input type="submit" value="Editar" class="btn btn-info"/>
    <a asp-action="index" class="btn btn-danger">Cancelar</a>
</form>