@model Album
@{ ViewData["Title"] = "Editar";}
<h1>Editar albúm</h1>
<mensagem texto="@TempData["msg"]"></mensagem>
<form asp-action="editar">
    <input asp-for="AlbumId"/>
    <partial name="_Form" />
    <botao></botao>
    <a asp-action="Index" class="btn btn-danger">Cancelar</a>
</form>