@model Planeta

@{
    ViewData["Title"] = "Cadastro de Planeta";
}

<h1>Cadastrar</h1>

<mensagem texto="@TempData["msg"]"></mensagem>

@*if (TempData["msg"] != null)
{
    @TempData["msg"]
}*@

    <form asp-action="cadastrar">
        <partial name="_Form" /> <!-- Inclui o conteúdo do arquivo _Form -->
        <botao texto="Salvar" class="btn btn-outline-success"></botao>
        <!--<input type="submit" value="Cadastrar" class="btn btn-dark" />-->
        <a asp-action="listar" asp-controller="planeta" class="btn btn-dark">Listar planetas</a>
    </form>
