@model Planeta

@{ ViewData["Title"] = "Editar"; }

<h1>Editar</h1>

<form asp-action="editar">
    <input asp-for="Id"/>
    <partial name="_Form" />
    <input type="submit" value="Editar" class="btn btn-dark" />
    <a asp-action="listar" asp-controller="planeta" class="btn btn-outline-success">Listar planetas</a>
</form>
