@{
    ViewData["Title"] = "Home Page";
}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Musicas disponíveis</h5>
        <p class="card-text"> @ViewData["qtd"] </p>
        <a asp-action="index" asp-controller="musica" class="card-link">Lista de músicas</a>
        <a asp-action="cadastrar" asp-controller="musica" class="card-link">Cadastrar</a>
    </div>
</div>
